body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer";
    grid-template-columns: 1fr 300px;
    grid-gap: 20px;
    padding: 20px;
}

header, article, aside, footer {
    padding: 20px;
    background-color: lightgray;
}

header {
    grid-area: header;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
    grid-area: main;
    background-color: rgb(145, 158, 170);
    margin: 10px 0px;
}
article:nth-child(1), article:nth-last-child(1) {
    margin: 0px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* Hacemos el sitio web responsivo */
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    }

    main {
        flex-direction: column;
    }
}
